.App {
  text-align: center;
  list-style: none;
}

.Sort {
  width: auto;
  display: block;
  position: relative;
}

/*Buttons*/
.Custom-Button {
  margin: 5px;
  box-shadow: 0px 0px 10px 1px #313030
}

.HomeContent {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*Comments*/
.Comment-List {
  position: relative;
  height: auto;
  width: 100%;
}

.Comment-in-List {
  color: #fff;
  display: block;
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #c55858;
  border-radius: 25px;
  border: 1px solid #555;
  box-shadow: 0px 0px 10px 1px #313030;

}

.Comment {
  position: relative;
  min-height: 120px;
  padding: 10px;
  display: flex;
}

.Comment-Data {
  margin: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.Comment-Buttons {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

/*Post*/
.Post-List {
  position: relative;
  height: auto;
  width: 100%;
}

.Post-in-List {
  display: block;
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #616060;
  border-radius: 25px;
  border: 1px solid #555;
  box-shadow: 0px 0px 6px 2px #555;
}

.Post {
  position: relative;
  min-height: 120px;
  padding: 10px;
  display: flex;
}

.Post-Data {
  margin: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a.Post-Data {
  color: white;
  text-decoration: none;
}

.Post-Link {
  display: block;
  width: 100%;
  height: 100%;
}

.Post-Buttons {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

/*Shared Content*/
.title {
  padding: 2px;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
}

.body {
  font-size: 14px;
}

.date-and-author {
  padding: 2px;
  font-size: 12px;
  color: #ddd;
  font-style: italic;
  justify-content: center;
}

.timestamp {
  display: inline-flex;
}

.author {
  display: inline-flex;
}

.comments-number {
  display: flex;
  justify-content: center;
}

.Vote-Score {
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

.Score {
  display: flex;
  font-size: 20px;
  color: #fff;
  padding: 5px;
}

.Vote-Button {
  display: flex;
  padding: 5px;
}


/*Detailed Post View*/

.Detailed-Post {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  background-color: #616060;
  border-radius: 25px;
  border: 1px solid #555;
  box-shadow: 0px 0px 6px 2px #555;
}

/*Error Page*/
.Error-Page {
  padding: 20px;
}

.Error-Text {
  text-shadow: 2px 2px 4px #555;
  font-weight: bolder;
  font-size: 35px;
  color: white;
}
.Error-Image {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../Images/erroricon.png');
  width: 200px;
  height: 200px;
  background-size: contain;
}

/* Loading Spinner */
.loading {
  top: -50px;
  left: -50px;
  position: absolute;
}

.spinner {
  position: relative;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  border: 15px solid darkgray;
  border-top: 15px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
