.App {
  text-align: center;
}

.Category-List {
  list-style: none;
  padding: 10px;
}

.Post-List {
  list-style: none;
  padding: 10px;
}

.Post {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e4e3e3;
  border-radius: 25px;
  width: 70%;
  align-content: center;
}
.detailed-post {
  background-color: lightblue;
}

.nav-tabs {
  font-size: 20px;
}

.nav-tabs>li>a {
  color: black;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.post-date-and-author {
  display: inline-flex;
  font-style: italic;
}

/* Loading Spinner */
.loading {
  top: -50px;
  left: -50px;
  position: absolute;
}

.spinner {
  position: relative;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  border: 15px solid darkgray;
  border-top: 15px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
