body {
  background-color: #aaa;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-link {
  color: #fff;
  text-decoration: none;
}

.btn-link:visited {
  color: #fff;
  text-decoration: none;
}

.btn-link:hover {
  color: #fff;
  text-decoration: none;
}

.btn-link:active {
  color: #fff;
  text-decoration: none;
}

.btn-link:focus {
  color: #fff;
  text-decoration: none;
}

/*Navigation Bar*/
.nav-tabs {
  font-size: 18px;
  font-weight: bold;
}

.nav-justified {
  background-color: #c55858;
}

.nav-tabs.nav-justified>li {
  border-bottom: 1px solid #555;
  margin: 0;
}

.nav-tabs.nav-justified>li>a {
  border-bottom: none !important;
  margin: 0;
}

.nav-tabs>li>a {
  color: white;
}

.nav-tabs>li>a:hover {
  border-bottom: none !important;
  background-color: #aaa !important;
  border-top: 1px solid #555 !important;
  border-left: 1px solid #555 !important;
  border-right: 1px solid #555 !important;
}


.nav-tabs.nav-justified>li.active {
  border-bottom: 1px solid #aaa;
}

.nav-tabs.nav-justified>li.active>a {
  color: white;
  background-color: #aaa !important;
  border-top: 1px solid #555 !important;
  border-left: 1px solid #555 !important;
  border-right: 1px solid #555 !important;
  margin: 0;
}
