.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Category-List {
  background-color: red;
  list-style: none;
  padding: 10px;
}

.Post-List {
  background-color: yellow;
  list-style: none;
  padding: 10px;
}
