.App {
  text-align: center;
}

.Category-List {
  list-style: none;
  padding: 10px;
}

.Post-List {
  background-color: yellow;
  list-style: none;
  padding: 10px;
}

.nav-tabs {
  font-size: 20px;
}

.nav-tabs>li>a {
  color: black;
}
